.filter-tab {
    color: #CBB1A2;
    text-align: center;
    .bottom-border {
        height: 4px;
        background: #6749A5;
        width: 30%;
        margin: 0 auto;
    }
}
.filter-active-tab {
    color: #6749A5;
}
